<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="<%= @sc.image_url %>" alt="image">
    </div>
    <div class=" middle aligned content">
      <a class="header"><%= @sc.name %></a>
      <div class="meta">
        <span class="cinema", id="price">Price: <%= @price %></span>
        <BR></BR>
        <span class="cinema", id="miners">Miners: <%= @sc.miners %></span>
        <BR></BR>
        <span class="cinema" id="last-week">7d change:
          <% if @last_week.positive? %>
            <i class="arrow green alternate circle up outline icon" id="icon"></i><%= @last_week %>%
          <% else %>
            <i class="arrow red alternate circle down outline icon" id="icon"></i><%= @last_week %>%
          <% end %>
        <BR></BR>
        </span>
        <%= render 'partials/coin_calculator' %>
        <% if @result %>
          <div class="ui statistic">
            <div class="value">
              <%= @result %> USD
            </div>
            <div class="label">
              value of your coins
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
